Hotels.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema 
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    elementFormDefault="qualified"
    attributeFormDefault="unqualified">

  <!-- Root element: Hotels -->
  <xsd:element name="Hotels">
    <xsd:complexType>
      <xsd:sequence>
        <!-- Multiple Hotel elements allowed -->
        <xsd:element name="Hotel" maxOccurs="unbounded">
          <xsd:complexType>
            <xsd:sequence>
              <!-- Multiple <Phone> elements -->
              <xsd:element name="Phone" type="xsd:string" maxOccurs="unbounded"/>

              <!-- Address child element -->
              <xsd:element name="Address">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="Number" type="xsd:string"/>
                    <xsd:element name="Street" type="xsd:string"/>
                    <xsd:element name="City" type="xsd:string"/>
                    <xsd:element name="State" type="xsd:string"/>
                    <xsd:element name="Zip" type="xsd:string"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>

            <!-- 
              REQUIRED attributes:
                - Name
                - NearstAirport  (NOTE: spelled "Nearst" per the error message)
              OPTIONAL attribute:
                - Rating
            -->
            <xsd:attribute name="Name" type="xsd:string" use="required"/>
            <xsd:attribute name="NearstAirport" type="xsd:string" use="required"/>
            <xsd:attribute name="Rating" type="xsd:decimal" use="optional"/>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

</xsd:schema>
